body , html{
    display: grid;
    min-height: 100%;
    place-items: center;
    background-color: aquamarine;
}

.card{
    width: 600px;
    height: 350px;
    box-shadow: 10px 10px 15px rgb(192, 192 ,183), -10px -10px 15px rgb(192, 192, 183);
    background-color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}
.name{
    font-size: 3rem;
}
#counter{
    
    font-size: 3rem;
    margin-bottom: 1.5rem;
    margin-top: 0.2rem;
}
.LowerBtn, .AddBtn{
    font-size: 1rem;
    outline: none;
    padding: 1.5rem, 2rem;
    cursor: pointer;
    margin-right: 1rem;
    margin-left: 1rem;
}